body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    padding-top: 56px;
  }
  
  h1, h2 {
    font-style: italic;
    color: #FFFFFF;
  }
  
  .brand-main {
    background-color: #f1935c; /* Main Background Color */
  }
  
  .brand {
    background-color: #30475e; /* Header and Footer bar Color */
  }
  